<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="release" value="1.1test"/>
    <add key="TargetLocation" value="e:/LCAMBuild/" />
    <add key="SourceLocation" value="e:/Builds#DirAppend/src/" />
    <add key="ZipLocation" value="e:/LCAMBuild/RLSE_#relno/ZipBuild/" />
    <!--Projects to Release    -->
    <!-- Tibco Projects -->
    <add key="TibcoProjects" value="CatalogUpdateListener|CPRListener|InventoryActivityListener|InvoiceListener|InvoicePaymentListener|PlugRequestListener|ProjectListener|ProvisionListener|PurchaseOrderListener|ReturnReceiptListener|ShipOrderInfoListener|WMSListener"/>
    <add key="TibcoZipPrefix" value="LCAMWEB"/>
    <add key="TibcoZipPostfix" value="tibco-1.#relno.zip"/>
    <add key="TibcoFileTypes" value="exe|config|xml|dll"/>
    <add key="TibcoFolderExclude" value="obj"/>
    <add key="TibcoSourceDirectory" value="e:\Builds#DirAppend\src\Qwest\XCI Outbound\Services\#Project"/>
    <add key="TibcoTargetDirectory" value="e:/LCAMBuild/RLSE_#relno/tibco_listener_services/#Project/"/>
    <!-- NonTibco Projects-->
    <add key="NonTibcoProjects" value="FICUSService|Workflow"/>
    <add key="NonTibcoProjectRename" value="FICUSService|FICUSDataExtract"/>
    <add key="NonTibcoZipPrefix" value="LCAMWEB"/>
    <add key="NonTibcoZipPostfix" value="svcs-1.#relno.zip"/>
    <add key="NonTibcoFileTypes" value="exe|config|xml|dll"/>
    <add key="NonTibcoFolderExclude" value="obj"/>
    <add key="NonTibcoSourceDirectory" value="e:\Builds#DirAppend\src\Qwest\XCI Outbound\Services\#Project"/>
    <add key="NonTibcoTargetDirectory" value="e:/LCAMBuild/RLSE_#relno/nontibco_services/#Project/"/>
    <!-- Presentation Tier -->
    <add key="PresentationProjects" value="baspx"/>
    <add key="PresentationZipPrefix" value="LCAMWeb."/>
    <add key="PresentationZipPostfix" value="-1.#relno.zip"/>
    <add key="PresentationFileTypes" value="exe|config|xml|folder|dll|aspx|asmx|ascx|asax|png|jpg|gif|js|htm|ico|css|master|htc|ttf"/>
    <add key="PresentationFolderExclude" value="obj"/>
    <add key="PresentationSourceDirectory" value="e:\Builds#DirAppend\src\Qwest\PresentationTier\Web\Alden.LCAM.Qwest.PresentationTier.Web"/>
    <add key="PresentationTargetDirectory" value="e:\LCAMBuild\RLSE_#relno\lcamweb"/>
    <!-- Web Services Managed Assets-->
    <!--<add key="WebServicesManagedAssetsProjects" value="ManagedAssetsService"/>
    <add key="WebServicesManagedAssetsZipPrefix" value="LCAMWeb"/>
    <add key="WebServicesManagedAssetsZipPostfix" value="basmx-1.#relno.zip"/>
    <add key="WebServicesManagedAssetsFileTypes" value="exe|config|xml|folder|dll|asmx|asax"/>
    <add key="WebServicesManagedAssetsFolderExclude" value="obj"/>
    <add key="WebServicesManagedAssetsSourceDirectory" value="e:\Builds\src\Qwest\PresentationTier\WebService\CenturyLink.LCAM.WebServices"/>
    <add key="WebServicesManagedAssetsTargetDirectory" value="e:LCAMBuild\RLSE_#relno\lcamwebservicesManagedAssets"/>-->
    <!-- Web Services-->
    <add key="WebServicesProjects" value="Service|ManagedAssetsService"/>
    <add key="WebServicesZipPrefix" value="LCAMWeb"/>
    <add key="WebServicesZipPostfix" value="basmx-1.#relno.zip"/>
    <add key="WebServicesFileTypes" value="exe|config|xml|folder|dll|asmx|asax"/>
    <add key="WebServicesFolderExclude" value="obj"/>
    <add key="WebServicesSourceDirectory" value="e:\Builds#DirAppend\src\Qwest\PresentationTier\WebService\"/>
    <add key="WebServicesTargetDirectory" value="e:LCAMBuild\RLSE_#relno\lcamwebservices"/>
    <!-- Rest Services-->
    <add key="RestServicesProjects" value="basxx"/>
    <add key="RestServicesZipPrefix" value="LCAMWebRest"/>
    <add key="RestServicesZipPostfix" value="-1.#relno.zip"/>
    <add key="RestServicesFileTypes" value="exe|config|xml|folder|dll|asax"/>
    <add key="RestServicesFolderExclude" value="obj"/>
    <add key="RestServicesSourceDirectory" value="e:\Builds#DirAppend\src\Qwest\PresentationTier\WebService\"/>
    <add key="RestServicesTargetDirectory" value="e:LCAMBuild\RLSE_#relno\lcamwebrest"/>
    <add key="ReleaseNumbers" value="14.10|Release Build 14.10|14.10|14.10,14.11|Release Build 14.11|14.11|14.11,15.1|Release Build 15.1|15.1|15.1"/>
    <!-- <add key="ReleaseNumbers" value="14.7 IE11|IE11Release Build 14.7|14.7|14.7A,14.7 IE5|IE5Release Build 14.7|14.7|14.7B,14.6|Release Build|14.6|14.6"/>-->
    <!-- ReleaseName | ReleaseBuildName | ReleaseNumber | BuildDirAppend-->
    <!-- <add key="ReleaseNumbers" value="14.7 IE11|IE11Release Build 14.7|14.7|14.7A,14.7 IE5|IE5Release Build 14.7|14.7|14.7B,14.6|Release Build|14.6|14.6"/>-->
  </appSettings>
</configuration>