<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Projects to Release    -->
    <add key="TibcoProjects" value="CatalogUpdateListener|
         CPRListener|
         InventoryActivityListener|
         InvoiceListener|
         InvoicePaymentListener|
         PlugRequestListener|
         ProjectListener|
         ProvisionListener|
         PurchaseOrderListener|
         ReturnReceiptListener|
         ShipOrderInfoListener|
         WMSListener"/>
    <add key="TibcoZipPrefix" value="LCAMWEB"/>
    <add key="TibcoZipPostfix" value="tibco-1.{0}.zip"/>
    <add key="NonTibcoProjects" value="FICUSDataExtract|
         Workflow"/>
    <add key="NonTibcoZipPrefix" value="LCAMWEB"/>
    <add key="NonTibcoZipPostfix" value="svcs-1.{0}.zip"/>
    <add key="PresentationProjects" value="baspx"/>
    <add key="PresentationZipPrefix" value="LCAMWEB"/>
    <add key="PresentaitonZipPostfix" value="-1.{0}.zip"/>
    <add key="WebServicesProjects" value="Service"/>
    <add key="WebServicesZipPrefix" value="LCAMWEB"/>
    <add key="WebServicesZipPostfix" value="basmx-1.{0}.zip"/>
    <add key="release" value="14.0"/>
  </appSettings>
</configuration>